
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<WebBanHang.Context.Brand>
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    a {
        color: #000000;
        text-decoration: none;
    }

        a:hover {
            color: white;
        }

    button {
        margin: 0 8px;
        border-radius: 4px;
    }
</style>
<div class="row" style="background-color: #29a6e6; height: 70px; color:white; text-align:center;margin-bottom: 50px;">
    <h3 style="text-align: center; margin: 0 auto; line-height: 70px">Danh sách nhãn hàng</h3>
</div>

@using (Html.BeginForm("Index", "AdminBrand", FormMethod.Get))
{
    <p>
        Tìm tên sản phẩm: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Tìm kiếm" />
    </p>
}
<p>
    @Html.ActionLink("Thêm Mới", "Create")
</p>
<table class="table table-bordered">
    <tr>
        <th>
            Tên thương hiệu
        </th>
        <th>
            Ảnh đại diện
        </th>
        <th>
            Miêu tả
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Url.Content("~/Content/images/items/" + item.Avatar)" width="100" />
            </td>
            <td>
                @item.Slug
            </td>
            <td>
                <div class="d-flex justify-content-around">
                    <button class="btn btn-info">@Html.ActionLink("Chi Tiết Hãng", "Details", new { id = item.Id })</button>
                    <button class="btn-danger"> @Html.ActionLink("Xóa", "Delete", new { id = item.Id })</button>
                    <button class="btn-warning"> @Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.Id })</button>

                </div>
            </td>
        </tr>
    }

</table>
Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.currentFilter }))