
@using PagedList;
@using PagedList.Mvc;
@model IPagedList<WebBanHang.Context.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

<header class="mb-3">
    <div class="form-inline">
        <strong class="mr-md-auto">@ViewBag.ThongBao</strong>
        
       
    </div>
</header><!-- sect-heading -->
<section class="section-content padding-y">
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">

                            <a href="@Url.Action("Details", "Product", new { Id = item.Id})" class="img-wrap">
                                <span class="badge badge-danger"> NEW </span>
                                <img src="~/Content/images/items/@item.Avater">
                            </a>
                        </div> <!-- img-wrap.// -->
                        <figcaption class="info-wrap">
                            <a href="@Url.Action("Details", "Product", new { Id = item.Id})" class="h5 title"> @item.Name</a>
                            <div class="price-wrap">
                                <span class="price">@item.Price</span>
                                <small class="text-muted">VNĐ</small>
                            </div> <!-- price-wrap.// -->

                            <p class="mb-2">@item.ShortDes</p>

                            <p class="text-muted ">@item.Speed HZ</p>

                            <hr>

                            <p class="mb-3">
                                <span class="tag"> <i class="fa fa-check"></i> @item.RAM GB</span>
                                <span class="tag"> @item.Color </span>
                                <span class="tag"> @item.CPU </span>
                                <span class="tag"> @item.Battery mma </span>
                            </p>

                            <label class="custom-control mb-3 custom-checkbox">
                                <input type="checkbox" class="custom-control-input">

                            </label>



                        </figcaption>
                    </figure>
                </div> <!-- col.// -->
            }
        </div> <!-- row end.// -->


        <nav class="mb-4" aria-label="Page navigation sample">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            @Html.PagedListPager(Model, page => Url.Action("Search", new { page, currentFilter = ViewBag.currentFilter, @SearchString = ViewBag.key }))
        </nav>
    </div>
</section>
